/*Start global*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
}

body{
    width: 100%;
    height: 100%;
    background-color: #f0f5fa;
    /* background: url("images/sitebg-01.jpg") no-repeat center fixed; */
    background-size: cover; 
}

section{
    padding: 6rem;
}
a{
    text-decoration: none;
    color: black;
}

p{
    font-size: 1.8rem;
    font-weight: 300;
    text-indent:40px
}

img{
    width: 100%;
}
/*End global*/

/*font*/
@font-face {
	font-family: 'Tangerine_Bold';
	src: url('./font/Tangerine_Bold.ttf');
	src: local('Tangerine_Bold'), url('./font/Tangerine_Bold.ttf') format('woff'), url('./font/Tangerine_Bold.ttf') format('truetype');
}

/*Start reusable*/
.container{
    width: 90%;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.section-heading{
    text-align: center;
    margin-bottom: 6rem;
    /* margin-top: 10rem; */
}

.section-heading h1{
    font-size: 8rem;
    /* text-transform: uppercase; */
    font-family: 'Tangerine_Bold';
    position: relative;
    font-weight: 300;
    margin-bottom: 1rem;
}

.section-heading h1::before,
.section-heading h1::after{
    content: '';
    position: absolute;
    bottom: -.35rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
}

.section-heading h1::before{
    width: 15rem;
    height: 1.3px;
    border-radius: .8rem;
}

/* .section-heading h1::after{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    bottom: -1rem;
} */

.section-heading h6{
    font-size: 1.6rem;
    font-weight: 300;
}

.has-margin-right{
    margin-right: 5rem;
}
/*End reusable*/

/*Start header*/
header{
    width: 100%;
    height: 100vh;
}

.top-nav{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -100vh;
    z-index: 50;
    background-color: #dae6fb;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    transition: all 650ms cubic-bezier(1, 0, 0, 1);
}

.nav-list{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
} */

li{
    margin: 0 2rem;
}

.nav-link{
    font-family: 'Tangerine_Bold';
    font-weight: bold;
    font-size: 7.5rem;
    padding: 1rem;
}

.nav-link:hover,
.nav-link:focus{
    background: linear-gradient(to top, #f0f5fa, #2b4162, #2b4162);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    padding: 1rem;
}

.top-nav.open{
    top: 0;
    border-radius: initial;
}

.menu-toggler{
    position: absolute;
    top: 5rem;
    right: 5rem;
    width: 5rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    transition: transform 650ms ease-out;
}

.menu-toggler.open{
    transform: rotate(-45deg);
}

.bar{
    background: linear-gradient(to right, #f0f5fa, #2b4162, #2b4162);
    width: 100%;
    height: 4px;
    border-radius: .8rem;
}

.bar.half{
    width: 50%;
}

.bar.start{
    transform-origin: right;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.start{
    transform: rotate(-450deg) translateX(.8rem);
}

.bar.end{
    align-self: flex-end;
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.end{
    transform: rotate(-450deg) translateX(-.8rem);
}

.landing-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 1;
}

.landing-text h1{
    font-size: 20rem;
    font-family: 'Tangerine_Bold';
    background: linear-gradient(to top, #c3e0fe, #2b4162, #2b4162);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
    user-select: none;
}

.landing-text h6{
    font-size: 2rem;
    font-weight: 300;
    color: #242424;
}
/*End header*/

/*Start about*/
.about .container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-heading{
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 6rem;
}
.about-heading h1{
    font-size: 10rem;
    opacity: .3;
}

.about-heading h6{
    font-size: 2rem;
    font-weight: 300;
    color: #2b4162;
}

.profile-img{
    flex: 0.75;
    margin-right: 5rem;
    margin-left: 10rem;
}

.about-details{
    flex: 1;
}
/*End about*/

/*Start portfolio*/
.project{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    /* margin-left: 15rem;
    margin-right: 15rem; */
}

.project:last-child{
    margin-bottom: 0;
}

.proj-img{
    width: 50rem;
    flex: 1;
}

.proj-desc{
    flex: 1;
    font-size: 1.5rem;
}

.proj-desc h6{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    color: #2b4162;
}

.proj-desc h1{
    font-size: 3rem;
    font-weight: 300;
    margin: 1rem 0;
}

.proj-desc .cta{
    display: inline-block;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #3883ff;
    transition: color 650ms;
}

.proj-desc .cta:hover{
    color: #2f67cd;
}
/*End portfolio*/

/*Start timeline*/
.timeline ul{
    border-left: 3.5px solid #2b4162;
    border-radius: .6rem;
    background-color: #dae6fb;
    margin: 0 auto;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
    list-style: none;
    text-align: left;
    height: 70%;
    width: 70%;
}

.timeline h1{
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 1rem;
    opacity: .3;
    padding-top: 1rem;
}

.timeline h2{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 1rem;
    padding-top: 1rem;
}

.timeline li{
    font-size: 1.5rem;
    width: 70%;
    /* text-transform: uppercase; */
    font-weight: 300;
    padding-right: 1rem;
    /* margin-bottom: 3rem; */
}

.work-desc li{
    margin: .5rem;
}
.timeline .date{
    border-bottom: 1px solid #2b4162; 
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    position: relative;
    justify-content: center;
}

.timeline .date:last-of-type{
    padding-bottom: 0;
    margin-bottom: 0;
    /* border: none; */
}

.timeline .date::before,
.timeline .date::after{
    position:absolute;
    display: block;
    top: 100%;
    transform: translateY(-50%);
}

.timeline .date::before{
    content: attr(data-date);
    left: -21rem;
    text-align: right;
    min-width: 12rem;
    font-size: 1.5rem;
}

.timeline .date::after{
    content: '';
    box-shadow: 0 0 0 2.5px #2b4162;
    border-radius: 100%;
    left: -7.85rem;
    height: 1.25rem;
    width: 1.25rem;
    background-color: #2b4162;

}
/*End timeline*/

/*Start contact*/
/*End contact*/

/*Start footer*/
/*End footer*/

/*Start animations*/
/*End animations*/

/*Start media queries*/
/*End media queries*/